<html>
  <script>
    function refresh() {

    }

    function sendDigest() {

    }

    function setVals(i_val, stocks, articles) {
      var sdiv = document.getElementById("stock_section");
      // console.log(stocks);
      // console.log(i_val)
      var cur_val = 0;
      for (var i = 0; i < stocks.length; i++) {
        console.log(stocks[i]);
        var new_stock = document.createElement("h4");
        var total = stocks[i][2]*stocks[i][1]
        new_stock.innerHTML = stocks[i][0]+", "+stocks[i][1]+", $"+stocks[i][2]+", $"+total;
        sdiv.appendChild(new_stock);
        cur_val += stocks[i][2]*stocks[i][1];
      }
      var val_h2 = document.getElementById("cur_val");
      val_h2.innerHTML = "$"+cur_val;

      var change = cur_val-i_val;
      var ch_h2 = document.getElementById("change");
      if (change > 0) {
        ch_h2.innerHTML = "+$"+change;
        ch_h2.setAttribute("style","color:green; font-size: 1em;")
      } else if (change < 0) {
        change = change * -1;
        ch_h2.innerHTML = "-$"+change;
        ch_h2.setAttribute("style","color:red; font-size: 1em;")
      }
      
      console.log(articles)
      var ndiv = document.getElementById("news_section");
      for (var i = 0; i < articles.length; i++) {
        console.log(articles[i]);
        var new_stock = document.createElement("a");
        new_stock.innerHTML = articles[i][0];
        new_stock.setAttribute("href",articles[i][1])
        ndiv.appendChild(new_stock);
        // cur_val += stocks[i][2]*stocks[i][1];
      }
    }
  </script>
  <head>
    <title>SPT Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dash_style.css') }}">
    <link rel="icon" href="https://emoji.gg/assets/emoji/6645_Stonks.png">
  </head>

  <body onload="setVals({{ i_val }}, {{ stocks }}, {{ articles }});">
    <div>
      <h1>Stock Portfolio Tracker</h1>
      <button onclick="location.href='/logout';">Log Out</button>
      <button onclick="location.href='/prefs';">Preferences</button>
      <button onclick="location.href='/dash/refresh';">Refresh</button>
    </div>
    <h2 id="cur_val">$(Current Value)</h2><h2 id="change" style="color:gray; font-size: 1em;">+$0</h2>
    <div class="stocks" id="stock_section">
      <h3>Stocks</h3>

    </div>
    <div class="news" id="news_section">
      <h3>News</h3>
    </div>
    <div class="bottomstuff">
        <span>ECE 4564 Final Project by Team 8<br />Fairuz Ahmed, Nolan Pletcher, Aziz Shaik</span>
    </div>
  </body>
</html>