<html>
<head>
  <title>SPT Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_style.css') }}">
  <link rel="icon" href="https://emoji.gg/assets/emoji/6645_Stonks.png">
</head>

<body>
    <h1>Stock Portfolio Tracker</h1>
    {% if message != " " %}
        <h4 style="color: red;">{{ message }}</h4>
    {% else %}
        <h4>Log into your account or create a new one</h4>
    {% endif %}
    
    <form id="login_form" action="" method="POST">
        <label for="email">Email</label>
        <div class="field">
            {{ form.email }}
            <!-- <input type="email" name="email"> -->
        </div>
        <label for="password">Password</label>
        <div class="field">
            {{ form.password }}
            <!-- <input type="password" name="password"> -->
        </div>
        <input type="submit" name="submit" value="Log In">
    </form>
    <div class="bottomstuff">
        <span><a href="/create_acc">Sign up for an account here!</a></span>
        <span>ECE 4564 Final Project by Team 8<br />Fairuz Ahmed, Nolan Pletcher, Aziz Shaik</span>
    </div>
</body>

</html>